:root {
  --background-clr: #f1f0e8;
  --primary-clr1: #f8efba;
  --primary-clr2: #c9d59c;
  --primary-clr3: #97bc84;
  --secondry-clr1: #62a373;
  --secondry-clr2: #e7f3ef;
  --accent-clr1: #006f5f;
}

body {
  margin: 20px;
  width: 100vw;
  position: relative;
}

/*wrapper*/
.wrapper {
  display: flex;
  flex-direction: column;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

/*header-logo*/
.logo {
  width: 30em;
  position: relative;
}

.logo > img {
  width: 200px;
}

.logo > p {
  margin: 0;
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
}

header > ul {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

header > ul > li {
  color: var(--accent-clr1);
  font-size: 1.2em;
}

header > ul > li:after {
  content: '';
  display: block;
  margin: auto;
  height: 0.1em;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

header > ul > li:hover:after {
  width: 100%;
  background: var(--secondry-clr1);
}

/*main*/
.main-title {
  display: flex;
  text-transform: uppercase;
  border-top: 1px solid rgb(124, 119, 119);
}

main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main .section-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-1 h3 {
  text-transform: uppercase;
}

main .section-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section-2 h3 {
  text-transform: uppercase;
}

footer {
  background-color: var(--secondry-clr2);
  color: rgb(39, 37, 37);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(124, 119, 119);
  font-weight: 100;
  margin-top: 10px;
}

.footer-logo img {
  margin-top: 20px;
  filter: invert(1);
  opacity: 0.9;
}

footer .address {
  margin-top: 20px;
  font-weight: 900;
}
